* {
    margin: 0;
    padding: 0;
}

.navbar-wrapper {
    width: 100%;
    height: 25vh;
    background-color: #C01E2E;
    display: flex;
    align-items: center;
}

.img-wrapper {
    margin-left: 4vw;
    position: absolute;
    top: 1px;
}

.img-wrapper img {
    width: 250px;
}

.sections-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25vw;
    width: 70vw;
}

.sections-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.sections-list li {
    margin-left: 5vw;
    font-size: 200%;
    color: white;
    text-align: center;
}

.cta-order {
    display: flex;
    width: 10vw;
    height: 9vh;
    align-items: center;
    justify-content: center;
    color: #C01E2E;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7%;
    font-size: 150%;
    text-align: center;
}

.banner-wrapper {
    width: 80vw;    
    height: 50vh;
    background-color: #fae0e3c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #C01E2E;
    margin-right: 15vw;
}

.subtitle-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
   
}

.subtitle-banner h4 {
    font-weight: 100;
}

.cta-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 15vw;
    height: 10vh;
    font-size: 300%;
    background-color: black;
    color: white;
    border-radius: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-information {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
}



.banner-image img {
    width: 450px;
}

.value-proposition-wrapper {
    width: 100%;
    height: 50vh;
    background-color: #FFB5B5;
}

.value-proposition-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}

.value-proposition-title h3 {
    margin-top: 5vh;
    font-size: 600%;
    color: white;
    color: #C01E2E;
    text-align: center;
}


.circle-wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 3vw;

}

.circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #C01E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 125%;
}

.circle-1 {
    margin-left: 20vw;

}

.circle-3 {
    margin-right: 20vw;
}

.funny-message-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;


}

.funny-message-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.left-element-first-row {
    color: white;
    height: 50vh;
    background-color: #C01E2E;
}

.right-element-first-row {
    height: 50vh;
    background-color: white;
}

.right-element-first-row img {
    height: 50vw;


}

.left-element-second-row {
    height: 50vh;
    background-color: white;
}

.left-element-second-row img {

    width: 18vw;

}

.right-element-second-row {
    height: 50vh;
    background-color: black;
    color: white;
}

.house-specials-wrapper {
    width: 100%;
    height: 80vh;
    background-color: #FFB5B5;
}

.house-specials-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.house-specials-title h3 {
    margin-top: 5vh;
    font-size: 600%;
    color: #C01E2E;
    text-align: center;
}

.specials-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vw;
}

.special {
    width: 15vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 125%;
}

.special-content img {
    width: 100%;

}

.special-content p {
    margin-top: 10px;
    font-size: 300%;
    color: white;
    font-weight: 600;
}


.customer-feedback-wrapper {


    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.customer-feedback-title {
    display: flex;
    justify-content: center;
    width: 100%;

}

.customer-feedback-title h3 {
    margin-top: 10vh;
    font-size: 600%;
    color: #C01E2E;
    font-family: Arial, Helvetica, sans-serif;
}






.feedback-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5vh;

}

.feedback-wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.left-element-first-row-feedback {
    color: black;
    height: 50vh;
    text-align: center;
    margin-left: 15vw;
    color: #C01E2E;
}

.right-element-first-row-feedback {
    height: 50vh;
    margin-right: 15vw;

}

.right-element-first-row-feedback img {
    width: 35vw;


}

.left-element-second-row-feedback {
    height: 50vh;
    background-color: white;
    margin-left: 15vw;

}

.left-element-second-row-feedback img {

    width: 18vw;

}

.right-element-second-row-feedback {
    height: 50vh;
    background-color: white;
    margin-right: 15vw;
    color: #C01E2E;
}


.feedback-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.feedback-text {
    flex: 1;
    padding-right: 20px;
    font-size: 200%;
}

.feedback-text h1 {
    font-size: 3em;
    color: #C01E2E;
    margin: 0;
}

.feedback-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.feedback-form label {
    font-size: 1.2em;
    margin-top: 10px;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.feedback-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #333;
}

.flags-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.flags {
    flex: 1;
    background-color: white;
    color: black;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flags img {
    width: 100%;
}

.flags:first-child {
    margin-left: 0;
}

.flags:last-child {
    margin-right: 0;
}

footer {
    width: 100%;
    height: 50vh;
    background-color: black;
}

footer h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5vw;

}

.icon-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    margin: 10vw;
    color: white;
    font-size: 400%;
}
@media (min-width: 300px) and (max-width: 375px) {
    header{
        width: 100vw;
    }
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-wrapper{
        width: 140%;
    }

    .banner-wrapper {
        width: 120vw;
        height: 65vh;
    }

    .img-wrapper {
        width: 25vw;
        height: 20vh;
        margin-top: 2vh;
    }

    .img-wrapper img {
        width: 40vw;
        height: 18vh;
    }

    .sections-wrapper {
        display: none;
    }

    main {
        width: 120vw;   
    }

    .banner-wrapper {
        display: block;
    }

    .banner-information {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .title-banner {
        margin-top: 3vh;
        margin-left: 15vw;
    }

    .cta-banner {
        width: 40vw;
    }

    .banner-image {
        margin-right: 0;
        margin-top: 2vh;
    }

    .banner-image img {
        width: 50vw;
        margin-left: 35vw;
    }

    .value-proposition-wrapper {
        width: 140vw;
        height: 100vh;
    }

    .value-proposition-title {
        font-size: 3vw;
    }

    .circle-wrapper {
        display: block;
    }

    .circle {
        margin-left: 40%;
        margin-bottom: 10vh;
        width: 30vw;
        height: 30vw;
        font-size: 200%;
    }

    .circle-1 {
        margin-top: 3vh;
    }

    .funny-message-wrapper div {
        width: 70vw;
        font-size: 10vw;
    }

    .right-element-first-row img {
        width: 45vw;
        height: 40vh;
    }

    .left-element-first-row {
        text-align: center;
    }

    .left-element-second-row img {
        width: 45vw;
        height: 20vh;
    }

    .right-element-second-row h3 {
        text-align: center;
        font-size: 10vw;
    }

    .house-specials-wrapper {
   
        width: 140vw;

        height: 160vh;
    }

    .house-specials-title {
        font-size: 3vw;
    }

    .specials-wrapper {
        margin-top: 5vh;
        display: block;
        margin-left: 42%;
    }

    .special-content p {
        color: white;
        font-weight: 400;
        font-size: 250%;
        margin-bottom: 3vh;
    }

    .special-content img {
        width: 60vw;
    }

    .left-element-first-row-feedback {
        margin-left: 8vw;
    }

    .left-element-first-row-feedback h3 {
        font-size: 100%;
    }

    .right-element-first-row-feedback img {
        position: absolute;
        margin-left: 10%;
        width: 400px;
    }

    .left-element-second-row-feedback img {
        position: absolute;
        width: 150px;
    }

    .right-element-second-row-feedback h3 {
        margin-left: 10vw;
    }
    
    .feedback-wrapper{
        width: 140vw;

    }
    .feedback-section {
        width: 100%;
        display: block;
    }

    .feedback-text {
        font-size: 100%;
        align-items: center;
    }

    .feedback-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flags-wrapper{
                width: 140vw;

    }

    footer{
        width: 140vw;

    }
}

@media(min-width: 375px) and (max-width: 425px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
      
    }

    .navbar-wrapper {
        width: 140vw;
    }

    .banner-wrapper {

        width: 120vw; 
        height: 65vh;
        display: block;
    }

    .img-wrapper {
        width: 25vw;
        height: 20vh;
        margin-top: 2vh;
    }

    .img-wrapper img {
        width: 40vw;
        height: 18vh;
    }

    .sections-wrapper {
        display: none;
    }

    main {
        width: 100vw;
    }

    .banner-information {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .title-banner {
        margin-top: 3vh;
    }

    .cta-banner {
        width: 40vw;
    }

    .banner-image {
        margin-right: 0;
        margin-top: 2vh;
    }

    .banner-image img {
        width: 50vw;
    }

    .value-proposition-wrapper {
        height: 120vh;
        width: 140vw;
    }

    .value-proposition-title {
        font-size: 3vw;
    }

    .circle-wrapper {
        display: block;
    }

    .circle {
        margin-left: 35%;
        margin-bottom: 10vh;
        width: 30vw;
        height: 30vw;
        font-size: 200%;
    }

    .circle-1 {
        margin-top: 3vh;
    }

    .funny-message-wrapper div {
        width: 70vw;
        font-size: 10vw;
    }

    .right-element-first-row img {
        width: 45vw;
        height: 40vh;
    }

    .left-element-first-row {
        text-align: center;
    }

    .left-element-second-row img {
        width: 45vw;
        height: 20vh;
    }

    .right-element-second-row h3 {
        text-align: center;
        font-size: 10vw;
    }

    .house-specials-wrapper {
        height: 160vh;
        width: 140vw;
    }

    .house-specials-title {
        font-size: 3vw;
    }

    .specials-wrapper {
        margin-top: 5vh;
        display: block;
        margin-left: 42%;
    }

    .special-content p {
        color: white;
        font-weight: 400;
        font-size: 250%;
        margin-bottom: 3vh;
    }

    .special-content img {
        width: 60vw;
    }

    .left-element-first-row-feedback {
        margin-left: 8vw;
    }

    .left-element-first-row-feedback h3 {
        font-size: 100%;
    }

    .right-element-first-row-feedback img {
        position: absolute;
        margin-left: 10%;
        width: 400px;
    }

    .left-element-second-row-feedback img {
        position: absolute;
        width: 150px;
    }

    .right-element-second-row-feedback h3 {
        margin-left: 15vw;
    }

    .feedback-section {
        width: 120%;
        display: block;
    }

    .feedback-text {
        font-size: 100%;
        align-items: center;
    }

    .feedback-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:425px) and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-wrapper {
   
        width: 120vw; 
    }

    .banner-wrapper {

        width: 100vw; 
        height: 65vh;
        display: block;
    }

    .img-wrapper {
        width: 25vw;
        height: 20vh;
        margin-top: 2vh;
    }

    .img-wrapper img {
        width: 40vw;
        height: 18vh;
    }

    .sections-wrapper {
        display: none;
    }

    main {
        width: 100vw;
    }

    .banner-information {
        display: flex;
        text-align: center;
        align-items: center;
    }

    .title-banner {
        margin-top: 3vh;
        margin-left: 10vw;
    }

    .cta-banner {
        width: 40vw;
    }

    .banner-image {
        margin-right: 0;
        margin-top: 2vh;
        margin-left: 20vw;
    }

    .banner-image img {
        width: 60vw;
    }

    .value-proposition-wrapper {
        width: 120vw;
        height: 120vh;
    }

    .value-proposition-title {
        font-size: 3vw;
    }

    .circle-wrapper {
        display: block;
    }

    .circle {
        margin-left: 35%;
        margin-bottom: 10vh;
        width: 30vw;
        height: 30vw;
        font-size: 200%;
    }

    .circle-1 {
        margin-top: 3vh;
    }

    .funny-message-wrapper div {
        width: 60vw;
        font-size: 10vw;
    }

    .right-element-first-row img {
        width: 45vw;
        height: 40vh;
    }

    .left-element-first-row {
        text-align: center;
    }

    .left-element-second-row img {
        width: 45vw;
        height: 20vh;
    }

    .right-element-second-row h3 {
        text-align: center;
        font-size: 10vw;
    }

    .house-specials-wrapper {
        width: 120vw;
        height: 160vh;
    }

    .house-specials-title {
        font-size: 3vw;
    }

    .specials-wrapper {
        margin-top: 5vh;
        display: block;
        margin-left: 42%;
    }

    .special-content p {
        color: white;
        font-weight: 400;
        font-size: 250%;
        margin-bottom: 3vh;
    }

    .special-content img {
        width: 60vw;
    }

    .left-element-first-row-feedback {
        margin-left: 8vw;
    }

    .left-element-first-row-feedback h3 {
        font-size: 100%;
    }

    .right-element-first-row-feedback img {
        position: absolute;
        margin-left: 10%;
        width: 400px;
    }

    .left-element-second-row-feedback img {
        position: absolute;
        width: 150px;
    }

    .right-element-second-row-feedback h3 {
        margin-left: 15vw;
    }

    .feedback-wrapper{
        width: 120vw;
    }
    .feedback-section {
        width: 100vw;
        display: block;
    }

    .feedback-text {
        font-size: 100%;
        align-items: center;
    }

    .feedback-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flags-wrapper{
        width: 120vw;
    }

    footer{
        width: 120vw;
    }
}

@media (min-width:768px) and (max-width: 996px) {

    .sections-wrapper{

        display: none;
    }

    body {
        width: 100vw;
    }

    .img-wrapper img{
        width: 20vw;
    }
    .banner-wrapper {
        width: 80vw;
    }   
    .title-banner{
        font-size: 250%;
    }
    .subtitle-banner{
        font-size: 150%;

    }
    .cta-banner{
        font-size: 150%;
        text-align: center;
    }
    .banner-image {
        margin-right: 0;
 
    }

    .banner-image img {
        width: 50vw;
    }


}

@media (min-width:996px) and (max-width: 1110px){

    .img-wrapper img{
        width: 15vw;
        margin-left: 4vw;
        margin-top: 2vh;
    }

    .sections-wrapper{
        margin-left: 19vw;
    }

    .cta-order{
        margin-left: 5vw;
    }
    .title-banner{
        font-size: 250%;
    }
    .subtitle-banner{
        font-size: 150%;

    }
    .cta-banner{
        font-size: 150%;
        text-align: center;
    }
    .banner-information{
        width: 100vw;
    
    }
   
    .banner-image{
        width: 50vw;
    }
}

@media (min-width:1110px) and (max-width: 1200px)  {
    .cta-order{
        margin-left: 10vw;
    }

    .sections-list{
        margin-right: 5vw;
      
    }

    .cta-order-wrapper{
        margin-left: -10vw;
       
    }
    .title-banner{
        font-size: 250%;
    }
    .subtitle-banner{
        font-size: 150%;

    }
    .cta-banner{
        font-size: 150%;
        text-align: center;
    }

    .img-wrapper img{
        width: 15vw;
        margin-left: 5vw;
    }   
}

@media (min-width:1200px) and (max-width: 1300px)  {
    .title-banner{
        margin-right: 18vw;
    }

    .img-wrapper img{
        width: 15vw;
        margin-left: 5vw;
    }
    .sections-list{
        margin-left: -5vw;
    }

    .cta-banner{
        text-align: center;
        height: 15vh;
    }
}
@media (min-width:1300px) and (max-width: 1400px)  {
    .title-banner{
        margin-right: 20vw ;
    }
    
    .img-wrapper img{
        width: 13vw;
        margin-left: 3vw;
    }
    .sections-list{
        margin-left: -5vw;
    }

    .cta-banner{
        font-size: 200%;
        text-align: center;
        height: 13vh;
    }

    
}


@media (min-width:1400px) and (max-width: 1500px)  {
    .title-banner{
        margin-right: 20vw ;
    }
    
    .img-wrapper img{
        width: 13vw;
        margin-left: 3vw;
    }
    .sections-list{
        margin-left: -5vw;
    }

    .cta-banner{
        font-size: 200%;
        text-align: center;
        height: 13vh;
    }

    
}


@media (min-width:1500px) and (max-width: 1600px)  {
    .title-banner{
        margin-right: 35vw ;
    }
    
    .img-wrapper img{
        width: 13vw;
        margin-left: 3vw;
    }
    .sections-list{
        margin-left: -5vw;
    }

    .cta-banner{
        font-size: 200%;
        text-align: center;
        height: 13vh;
    }

    
}



@media (min-width:1600px) and (max-width: 1700px)  {
    .title-banner{
        margin-right: 35vw ;
    }
    .subtitle-banner{
        margin-left: -4vw;
    }
    .img-wrapper img{
        width: 11vw;
        margin-left: 3vw;
    }
    .sections-list{
        margin-left: -5vw;
    }

    .cta-banner{
        font-size: 200%;
        text-align: center;
        height: 13vh;
    }

    
}
